<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error...</title>
</head>

<body>
    <div style="display:flex;justify-content:center;align-items:center; flex-direction:column">
        <img src="https://memegenerator.net/img/instances/55709776/no-puedes-pasar.jpg" alt="Error" style="width:500px;height:300px;">
        <p style="color:red;margin-top:2rem">@ViewBag.Message</p>
    </div>
</body>
</html>