<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CodeMag JWT Demo</title>
</head>

<body>
  @{
      ViewBag.Title = "Demonstrating JWTs in ASP.NET Core MVC 5";
  }
  <p>@ViewBag.Message</p>
</body>
</html>